In [72]:
import pandas as pd
import numpy as np
import pm4py

from datetime import datetime, timedelta

In [73]:
log_file_path = "./log_2_geral_datas_distribuidas.csv"

dates = [
    "dt_inicio",
    "dt_fim"
]

df = pd.read_csv(log_file_path, encoding = "utf-8")
df.head()

,tarefa,dt_inicio,demanda_id,cliente,tp_demanda,dt_fim
0,Estimar_Tamanho,2021-04-26 18:06:40,261,cliente1,evolutiva,2021-04-28 12:10:06
1,Validar_Requisitos,2021-04-26 18:11:42,261,cliente1,evolutiva,2021-04-28 01:56:57
2,Projetar_Arquitetura,2021-04-26 18:16:45,261,cliente1,evolutiva,2021-04-27 17:33:12
3,Projetar_Modelo_Dados,2021-04-26 18:21:46,261,cliente1,evolutiva,2021-04-30 13:58:17
4,Fisicalizar_Modelo_Dados,2021-04-26 18:26:47,261,cliente1,evolutiva,2021-04-30 14:33:04

In [74]:
df.dtypes

tarefa        object
dt_inicio     object
demanda_id     int64
cliente       object
tp_demanda    object
dt_fim        object
dtype: object

In [75]:
error_df = df[df['dt_inicio'] > df['dt_fim']]
len(error_df.index)

2934

In [76]:
df.loc[df['dt_inicio'] > df['dt_fim'], ['dt_inicio', 'dt_fim']] = (
    df.loc[df['dt_inicio'] > df['dt_fim'], ['dt_fim', 'dt_inicio']].values
)

In [77]:
df[dates] = df[dates].apply(pd.to_datetime)

In [78]:
error_df2 = df[df['dt_inicio'] > df['dt_fim']]
len(error_df2.index)

0

In [79]:
df.head()

,tarefa,dt_inicio,demanda_id,cliente,tp_demanda,dt_fim
0,Estimar_Tamanho,2021-04-26 18:06:40,261,cliente1,evolutiva,2021-04-28 12:10:06
1,Validar_Requisitos,2021-04-26 18:11:42,261,cliente1,evolutiva,2021-04-28 01:56:57
2,Projetar_Arquitetura,2021-04-26 18:16:45,261,cliente1,evolutiva,2021-04-27 17:33:12
3,Projetar_Modelo_Dados,2021-04-26 18:21:46,261,cliente1,evolutiva,2021-04-30 13:58:17
4,Fisicalizar_Modelo_Dados,2021-04-26 18:26:47,261,cliente1,evolutiva,2021-04-30 14:33:04

In [80]:
df.reset_index()
df.head()

,tarefa,dt_inicio,demanda_id,cliente,tp_demanda,dt_fim
0,Estimar_Tamanho,2021-04-26 18:06:40,261,cliente1,evolutiva,2021-04-28 12:10:06
1,Validar_Requisitos,2021-04-26 18:11:42,261,cliente1,evolutiva,2021-04-28 01:56:57
2,Projetar_Arquitetura,2021-04-26 18:16:45,261,cliente1,evolutiva,2021-04-27 17:33:12
3,Projetar_Modelo_Dados,2021-04-26 18:21:46,261,cliente1,evolutiva,2021-04-30 13:58:17
4,Fisicalizar_Modelo_Dados,2021-04-26 18:26:47,261,cliente1,evolutiva,2021-04-30 14:33:04

In [81]:
df.to_csv(log_file_path, sep=',', index=False)